---
services:
  adguardhome:
    image: adguard/adguardhome@sha256:92929135ced2554aaf94706f766a98ad348f211df61b0704e2db7e8498cc00b7
    container_name: adguardhome
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 784:784/udp
      - 853:853/tcp
      - 3000:3000/tcp
      - 80:80/tcp
      - 443:443/tcp
    volumes:
      - /home/ruler/AdGuardHome/workdir:/opt/adguardhome/work
      - /home/ruler/AdGuardHome/confdir:/opt/adguardhome/conf
    restart: unless-stopped
