---
services:
  adguardhome:
    image: adguard/adguardhome@sha256:33e2240c466b2bb1d4fe9d65fd86178160bf6ee8835cf7b50ab3a7c5e39571fe
    container_name: adguardhome
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 784:784/udp
      - 853:853/tcp
      - 3000:3000/tcp
      - 80:80/tcp
      - 443:443/tcp
    volumes:
      - /home/ruler/AdGuardHome/workdir:/opt/adguardhome/work
      - /home/ruler/AdGuardHome/confdir:/opt/adguardhome/conf
    restart: unless-stopped
