---
services:
  nginx-proxy-manager:
    image: jc21/nginx-proxy-manager:2.13.7
    container_name: nginx-proxy-manager
    ports:
      - 80:80
      - 81:81
      - 443:443
    volumes:
      - /home/ruler/nginx/data:/data
      - /home/ruler/nginx/letsencrypt:/etc/letsencrypt
    restart: unless-stopped