---
services:
    cloudflared:
        image: cloudflare/cloudflared@sha256:404528c1cd63c3eb882c257ae524919e4376115e6fe57befca8d603656a91a4c
        restart: unless-stopped
        command: tunnel --no-autoupdate run --token $CF_TOKEN