---
services:
    cloudflared:
        image: cloudflare/cloudflared@sha256:89ee50efb1e9cb2ae30281a8a404fed95eb8f02f0a972617526f8c5b417acae2
        restart: unless-stopped
        command: tunnel --no-autoupdate run --token $CF_TOKEN