---
services:
  jellyfin:
    image: ghcr.io/linuxserver/jellyfin@sha256:eb34c52b9fda39157fabee6fccb26729f1e710912896495fd1a91ba934703f58
    container_name: jellyfin
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - DOCKER_MODS=linuxserver/mods:jellyfin-opencl-intel
    volumes:
      - /home/ruler/jellyfin/config:/config
      - nas:/Media
    ports:
      - 8096:8096
    restart: unless-stopped
    security_opt:
      - apparmor:unconfined


volumes:
  nas:
    driver: local
    driver_opts:
      type: nfs
      o: addr=10.0.0.100,vers=4,rw
      device: ":/mnt/SHAQ/shaq-share/Media"